<div class="row">
  <div class="col-10">
    <div class="row">
      <img src="../../assets/logo.png" class="logo-fit">
    </div>

    <div class="row">
      <p>Welcome to the Tiny Japanese-English Dictionary (TJED)!</p>
      <br>
      <p>The search box is below - note that previously searched term are listed below.</p>
    </div>

    <div class="row">
      <input id="searchbar" placeholder="search/検索" type="text" [(ngModel)]="searchTerm" name="searchTerm"/>
      <input id="searchbutton" type="submit" (click)="search()" class="glyphicon glyphicon-search" value=""/>
    </div>

    <div class="row">
      <ul>
        <li *ngFor="let searchedTerm of searchedTerms;">
          {{searchedTerm}}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-2">
    <div class="vertical-divider"></div>
  </div>
</div>